@{
    ViewData["Title"] = "LibrosArquitecturaSoftware";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>Libros de Arquitectura de Software</h1></center>
<div class="d-flex justify-content-around">
    <div class="text-center libro">
        <h1 class="display-4">"Software Architecture in Practice"</h1>
        <p>El libro actúa de referencia para arquitectos de software que están comenzando en este rol. Guía al lector en
            sus responsabilidades más características y enseña cómo diseñar y documentar arquitecturas de software de forma
            concreta y con ejemplos prácticos. Es un libro muy recomendable para toda persona que quiera desarrollar sus habilidades
            en el diseño de software.</p>
        <img src="https://m.media-amazon.com/images/I/71oE1zKO9dL._AC_UF1000,1000_QL80_.jpg" style="width: 200px; height: auto;" />
    </div>
    <div class="text-center libro">
        <h1 class="display-4">"Designing Software Architectures"</h1>
        <p>Este libro proporciona una metodología estructurada y repetible, basada en principios de ingeniería de software, 
            para el diseño de arquitecturas que cumplan con los requisitos técnicos y de negocio. Aborda la importancia
            de la calidad en el diseño, la evaluación de arquitecturas, y cómo tomar decisiones informadas durante el proceso.
            A través de ejemplos concretos y estudios de caso, los autores muestran cómo aplicar técnicas y patrones de diseño
            para construir sistemas sostenibles y escalables. Es una lectura esencial para arquitectos de software, ingenieros
            y cualquier persona involucrada en el desarrollo de sistemas complejos.</p>
        <img src="https://m.media-amazon.com/images/I/71MXEiUH8HL._AC_UF1000,1000_QL80_.jpg" style="width: 200px; height: auto;" />
    </div>
    <div class="text-center libro">
        <h1 class="display-4">"Building Evolutionary Architectures"</h1>
        <p>Esta guía presenta una nueva forma de pensar sobre la arquitectura. Los desarrollos incrementales
            y las nuevas prácticas de desarrollo de software se han centrado en cómo la arquitectura cambia con el tiempo,
            y la capacidad de adaptar el software a las nuevas características a medida que evoluciona. Proporciona una 
            visión de las nuevas herramientas, frameworks y paradigmas.</p>
        <img src="https://venam.net/blog/assets/software_architecture/building_evolutionary_architecture.jpg" style="width: 200px; height: auto;" />
    </div>
</div>

<hr style="margin-top: 50px; margin-bottom: 50px;">

<style>
    .libro {
        border-right: 1px solid #ccc; 
        padding-right: 20px; 
        margin-right: 20px; 
    }

    .display-4 {
        font-size: 24px; 
    }
</style>
